.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }  
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
 &__menu{
  display: none;
 }
  
  &__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    &:hover{
      color: crimson;
    }
  }
  
  @media(max-width:750px){
    &__list {
     display: none;
    }
    &__menu{
     display: block;
     }
  }
}



.modal__list {
  display: flex;
  position: absolute;
  gap: 20px;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 20px;
  width: 50%;
  height: 100vh;
  top: 100%;
  left: -100%;
  transition: 0.5s ease all;
}
.modal__list--off{
  align-self: flex-end;
}
.inp{
  display: none;
}
.inp:checked~.modal__list{
left: 0%;
}

.modal__link:hover{
  color: crimson;
}

